// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
  normal { }
  pane {
    bind "Ctrl w" { SwitchToMode "Normal"; }
    bind "h" "Left" { MoveFocus "Left"; }
    bind "l" "Right" { MoveFocus "Right"; }
    bind "j" "Down" { MoveFocus "Down"; }
    bind "k" "Up" { MoveFocus "Up"; }
    bind "p" { SwitchFocus; }
    bind "n" { NewPane; SwitchToMode "Normal"; }
    bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
    bind "x" { CloseFocus; SwitchToMode "Normal"; }
    // bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
    bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
    bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
    bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0;}
  }
  tab {
    bind "Ctrl n" { SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "k" "Up" { GoToPreviousTab; }
    bind "j" "Down" { GoToNextTab; }
    bind "h" "Left" { MoveTab "Left"; }
    bind "l" "Right" { MoveTab "Right"; }
    bind "c" { NewTab; }
    bind "Ctrl x" { CloseTab; }
  }
  scroll {
    bind "Ctrl j" { SwitchToMode "Normal"; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "Ctrl f" "PageDown" { PageScrollDown; }
    bind "Ctrl b" "PageUp" { PageScrollUp; }
    bind "e" { EditScrollback; SwitchToMode "Normal"; }
    bind "Ctrl h" { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "Ctrl g" { ScrollToBottom; SwitchToMode "Normal"; }
  }
  search {
    bind "Ctrl s" { SwitchToMode "Normal"; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "Ctrl f" "PageDown" { PageScrollDown; }
    bind "Ctrl b" "PageUp" { PageScrollUp; }
    bind "Ctrl g" { ScrollToBottom; SwitchToMode "Normal"; }
    bind "n" { Search "down"; }
    bind "p" { Search "up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
    bind "o" { SearchToggleOption "WholeWord"; }
  }
  entersearch {
    bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
    bind "Enter" { SwitchToMode "Search"; }
  }
  renametab {
    bind "Ctrl c" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
  }
  renamepane {
    bind "Ctrl c" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
  }
  shared_except "normal" "locked" {
    bind "Enter" "Space" "Esc" { SwitchToMode "Normal"; }
  }
  shared_except "tab" "locked" {
    bind "Ctrl n" { SwitchToMode "Tab"; }
  }
  shared_except "pane" "locked" {
    bind "Ctrl f" { SwitchToMode "Pane"; }
  }
  shared_except "scroll" "locked" {
    bind "Ctrl j" { SwitchToMode "Scroll"; }
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
}

layout_dir "/Users/miura/dotfiles/.config/zellij/layouts"
theme "tokyo-night"

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// ==new pane shell
// Default: $SHELL
// default_shell "fish"

// ==paneを囲むフレームを切り替える
// Options:
//   - true (default)
//   - false
// pane_frames true

// ==起動時のモード
// Default: normal
// default_mode "locked"

// ==マウスの有効無効を切り替える
// Options:
//   - true (default)
//   - false
// mouse_mode false

// ==paneのscroll bufferの行数
// Default value: 10000
// scroll_buffer_size 10000

// ==textのコピー時に使うコマンド
// Examples:
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// テキストのコピー先を選択(デフォルトはクリップボード)
// copy_command使用時には適用されません。
// Options:
//   - system (default)
//   - primary
// copy_clipboard "primary"

// マウスを離したときの選択範囲の自動コピー
// Default: true
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
// scrollback_editor "/usr/bin/vim"

// ==他のユーザとの既存のセッションにアタッチする場合、セッションをミラーすべきか(true)、各ユーザが自分のカーソルを持つべきか(false)
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
// mirror_session true

// default_layout "compact"
// zellij --layout /Users/miura/dotfiles/.config/zellij/layout.kdl
// theme_dir "/path/to/my/theme_dir"
