/*
/.**

!/Brewfile
!/.zshrc
!/linklist.txt
!/setup.sh

!/.config/
!/.config/alacritty
!/.config/alacritty/**
!/.config/ghostty
!/.config/ghostty/**
!/.config/wezterm
!/.config/wezterm/**
!/.config/hammerspoon
!/.config/hammerspoon/**
/.config/fish/fish_variables
/.config/fish/secrets.fish
!/.config/git
!/.config/git/config
!/.config/git/ignore
!/.config/lazygit
!/.config/lazygit/config.yml
!/.config/ngrok
!/.config/ngrok/ngrok.yml
!/.config/karabiner/**
!/.config/nvim
!/.config/nvim/**
!/.config/tmux
!/.config/tmux/**
!/.config/zellij
!/.config/zellij/**
!/.config/zsh
!/.config/zsh/zshrc
!/.github
!/.github/**

!/README.md
!/LICENSE
!.gitignore
node_modules
.DS_Store
