/*
/.**

!/.Brewfile
!/.zshrc
!/linklist.txt
!/setup.sh

!/.config/alacritty
!/.config/alacritty/**
/.config/fish/fish_variables
/.config/fish/secrets.fish
!/.config/git
!/.config/git/config
!/.config/git/ignore
!/.config/lazygit
!/.config/lazygit/config.yml
!/.config/ngrok
!/.config/ngrok/ngrok.yml
!/.config/nvim
!/.config/nvim/**
!/.config/tmux
!/.config/tmux/**
!/.config/zsh
!/.config/zsh/zshrc
!/.github
!/.github/**

!/README.md
!/LICENSE
!.gitignore
node_modules
.DS_Store