layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="vim" focus=true
  tab name="spec"
  tab name="console"
  tab name="other"
}
